@import "src/styles/_mixins.scss";

.o_card {
  @include border-radius();
  border: 4px solid $gray_4;
  padding: $spacing_2 $spacing_4;
  .o_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .o_card_title {
      font-size: $text_size_4;
      font-weight: bold;
    }
  }
  .o_card_body {
    padding: $spacing_2 0;
  }
}

.o_card_light {
  border: 4px solid $gray_4;
  background-color: white;
}

.o_card_primary {
  border: 4px solid $primary_1;
  background-color: white;
}

.o_card_success {
  border: 4px solid $secondary_1;
  background-color: white;
}

.o_card_warning {
  border: 4px solid $warning_1;
  background-color: white;
}

.o_card_danger {
  border: 4px solid $danger_1;
  background-color: white;
}