@import "src/styles/_mixins.scss";

.o_separator {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: $gray_3;
}

.o_separator > span {
  position: relative;
  display: inline-block;
}

.o_separator > span:before,
.o_separator > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: $gray_3;
}

.o_separator > span:before {
  right: 100%;
  margin-right: 15px;
}

.o_separator > span:after {
  left: 100%;
  margin-left: 15px;
}