@import "src/styles/_mixins.scss";

.o_alert {
  .o_card_header .o_card_title{
    .o_alert_icon {
      padding-right: $spacing_3;
    }
    .o_alert_title {
      font-size: $text_size_4;
      font-weight: bold;
    }
  }
  .o_alert_body {
    padding: $spacing_2 0;
  }
}

.o_alert_primary {
  background-color: $primary_1 !important;
  color: set-color($primary_1) !important;
}

.o_alert_success {
  background-color: $secondary_1 !important;
  color: set-color($secondary_1) !important;
}

.o_alert_warning {
  background-color: $warning_1 !important;
  color: set-color($warning_1) !important;
}

.o_alert_danger {
  background-color: $danger_1 !important;
  color: set-color($danger_1) !important;
}