// ------------------ COLOR THEME ------------------ //

// Accents

$primary_0: #003EBB;
$primary_1: #0055FF;
$primary_2: #8CB3FF;

$primary_text: #a1e9ff;

$secondary_0: #10D38E;
$secondary_1: #43FEBB;
$secondary_2: #BAFFE6;

$secondary_text: #a1ffc0;

$warning_0: #E4BB26;
$warning_1: #FDD64B;
$warning_2: #FFEEB0;

$danger_0: #DB3A24;
$danger_1: #FF5E48;
$danger_2: #FFC1B9;

// Grays

$gray_0: #203663;
$gray_1: #485E89;
$gray_2: #8192B5;
$gray_3: #B0BDD7;
$gray_4: #F0F5FF;

$white: #fff;

// --------------------- GLOBAL -------------------- //

$container-width: 1100px;

// -------------------- SPACINGS ------------------- //

$spacing_0: 4px; // ll
$spacing_1: 8px; // llll
$spacing_2: 12px; // llllll
$spacing_3: 16px; // llllllll
$spacing_4: 24px; // llllllllllll
$spacing_5: 32px; // llllllllllllllll
$spacing_6: 48px; // llllllllllllllllllllllll
$spacing_7: 64px; // llllllllllllllllllllllllllllllll
$spacing_8: 96px; // llllllllllllllllllllllllllllllllllllllllllllllll
$spacing_9: 128px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
$spacing_10: 192px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
$spacing_11: 256px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
$spacing_12: 384px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll...
$spacing_13: 512px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll...
$spacing_14: 640px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll...
$spacing_15: 768px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll...

// ------------------- TEXT SCALE ------------------ //

$text_size_0: 12px; // llllllllllll
$text_size_1: 14px; // llllllllllllll
$text_size_2: 16px; // llllllllllllllll
$text_size_3: 18px; // llllllllllllllllll
$text_size_4: 20px; // llllllllllllllllllll
$text_size_5: 24px; // llllllllllllllllllllllll
$text_size_6: 30px; // llllllllllllllllllllllllllllll
$text_size_7: 36px; // llllllllllllllllllllllllllllllllllll
$text_size_8: 48px; // llllllllllllllllllllllllllllllllllllllllllllllll
$text_size_9: 60px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
$text_size_10: 72px; // llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll

// ------------------ SCREEN SIZES ----------------- //

$screen_lg: 992px;

// --------------------- TIMING -------------------- //

$fast: 0.125s;
$medium: 0.2s;
$slow: 0.275s;

// --------------------- MIXINS -------------------- //

@mixin transition($property: none) {
  -webkit-transition: $property $fast ease-in-out;
  -moz-transition: $property $fast ease-in-out;
  -ms-transition: $property $fast ease-in-out;
  -o-transition: $property $fast ease-in-out;
  transition: $property $fast ease-in-out;
}

@mixin border-radius() {
  -webkit-border-radius: $spacing_4;
  -moz-border-radius: $spacing_4;
  border-radius: $spacing_4;
}

@mixin max-border-radius() {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@mixin disabled() {
  opacity: 0.5;
  cursor: not-allowed;
}

/* This function determines, from a background color, which */
/*   color between light or dark should the text be.        */
@function set-color($color) {
    @if (lightness($color) > 65) {
      @return $gray_0;
    }
    @else {
      @return white;
    }
}

@mixin shadow() {
  box-shadow: 0px 0px 100px rgba(32, 54, 99, 0.3);
}