@import "./variables.scss";

@mixin contained {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

.contained {
  @include contained;
}

@mixin border($color) {
  border: solid 3px $color;
}

.d-flex {
  display: flex;
  align-items: center;
  > * {
    margin: 16px;
  }
}
